
<h1 class="heading-large">The Annual Tax on Enveloped Dwellings (ATED)</h1>
	 <p class="text font-medium">Complete this form for your property if all of the following apply. <br>Your property is:</br>

<li>a residential property (a single dwelling interest) situated in the UK</li>
<li>valued at more than £2 million on 1 April 2012, or at acquisition if later owned, completely or partly, by a company, partnership where one of the partners is a company, or
'collective investment vehicle' - for example, a unit trust or an open ended investment company</li></p>
	 <h2 class="heading-medium">Before you start</h2>
	 <p class="text">You should ensure you have read the ATED Returns Notice available on the HMRC website in conjunction with completion of this Return.</p>

<p class="text">If relevant, you'll need to provide group scheme information and report any alterations or variations to share capital that have been made in relation to the scheme.</p>
	 <!--<div class="text panel-indent"><p class="text">
              ODS files are a type of spreadsheet that makes <a href="https://www.gov.uk/government/publications/open-standards-for-government/sharing-or-collaborating-with-government-documents" rel="external">sharing or collaborating with government documents</a> easier. 
              </p></div>-->