{{<layout}}

{{$pageTitle}}Submit end of year return{{/pageTitle}}
{{$afterHeader}}
   
{{/afterHeader}}

{{$content}}
  {{>alpha_banner}}
  {{>hmrc_banner}}



<main id="content" role="main">
   
<div class="outer-block">
  <div class="inner-block">
  <!-- main content starts -->
   {{>sub_header_CSOP}}
<h1 class="heading-large">Relief codes</h1>
 <!-- radio buttons start -->
          <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </p>

  <table>
    <thead>
      <tr>
        <th scope="col">Relief code</th>
        <th class="numeric" scope="col">Description</th>
        <th class="numeric" scope="col">Date this relief code became active <br>(leave blank if code is not being used)</br></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td class="numeric">Property rental businesses (to include the special conditions (sale, demolition, and, conversion)</td>
        <td class="numeric"> 
     
        <div class="date-of-birth">
          <div class="form-group">
            <label>Day</label>
            <input type="text" maxlength="2">  
          </div>
          <div class="form-group">
            <label>Month</label>
            <input type="text" maxlength="2">  
          </div>
           <div class="form-group">
            <label>Year</label>
            <input type="text" maxlength="2">  
          </div>
        </div>
      </div></td>
      </tr>


      <tr>
        <td>2</td>
        <td class="numeric">Dwellings opened to the public</td>
        <td class="numeric"> 
     
        <div class="date-of-birth">
          <div class="form-group">
            <label>Day</label>
            <input type="text" maxlength="2">  
          </div>
          <div class="form-group">
            <label>Month</label>
            <input type="text" maxlength="2">  
          </div>
           <div class="form-group">
            <label>Year</label>
            <input type="text" maxlength="2">  
          </div>
        </div>
      </div></td>
      </tr>
      <tr>
       <td>3</td>
        <td class="numeric">Property developers (including qualifying exchange of dwellings interests)</td>
        <td class="numeric"> 
     
        <div class="date-of-birth">
          <div class="form-group">
            <label>Day</label>
            <input type="text" maxlength="2">  
          </div>
          <div class="form-group">
            <label>Month</label>
            <input type="text" maxlength="2">  
          </div>
           <div class="form-group">
            <label>Year</label>
            <input type="text" maxlength="2">  
          </div>
        </div>
      </div></td>
      </tr>
      <tr>
       <td>4</td>
        <td class="numeric">Property traders carrying on a property trading business</td>
        <td class="numeric"> 
     
        <div class="date-of-birth">
          <div class="form-group">
            <label>Day</label>
            <input type="text" maxlength="2">  
          </div>
          <div class="form-group">
            <label>Month</label>
            <input type="text" maxlength="2">  
          </div>
           <div class="form-group">
            <label>Year</label>
            <input type="text" maxlength="2">  
          </div>
        </div>
      </div></td>
      </tr>
      <tr>
       <td>5</td>
        <td class="numeric">Financial institutions acquiring dwellings in the course of lending</td>
         <td class="numeric"> 
     
        <div class="date-of-birth">
          <div class="form-group">
            <label>Day</label>
            <input type="text" maxlength="2">  
          </div>
          <div class="form-group">
            <label>Month</label>
            <input type="text" maxlength="2">  
          </div>
           <div class="form-group">
            <label>Year</label>
            <input type="text" maxlength="2">  
          </div>
        </div>
      </div></td>
      </tr>
      <tr>
       <td>6</td>
        <td class="numeric">Dwellings used for trade purposes (occupation by qualifying employees and partners)</td>
       <td class="numeric"> 
     
        <div class="date-of-birth">
          <div class="form-group">
            <label>Day</label>
            <input type="text" maxlength="2">  
          </div>
          <div class="form-group">
            <label>Month</label>
            <input type="text" maxlength="2">  
          </div>
           <div class="form-group">
            <label>Year</label>
            <input type="text" maxlength="2">  
          </div>
        </div>
      </div></td>
      </tr>
      <tr>
       <td>7</td>
        <td class="numeric">Farmhouses (occupation for the purposes of carrying on a trade of farming)</td>
        <td class="numeric"> 
     
        <div class="date-of-birth">
          <div class="form-group">
            <label>Day</label>
            <input type="text" maxlength="2">  
          </div>
          <div class="form-group">
            <label>Month</label>
            <input type="text" maxlength="2">  
          </div>
           <div class="form-group">
            <label>Year</label>
            <input type="text" maxlength="2">  
          </div>
        </div>
      </div></td>
      </tr>
      <tr>
       <td>8</td>
        <td class="numeric">Registered providers of Social Housing</td>
        <td class="numeric"> 
     
        <div class="date-of-birth">
          <div class="form-group">
            <label>Day</label>
            <input type="text" maxlength="2">  
          </div>
          <div class="form-group">
            <label>Month</label>
            <input type="text" maxlength="2">  
          </div>
           <div class="form-group">
            <label>Year</label>
            <input type="text" maxlength="2">  
          </div>
        </div>
      </div></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="grid-wrapper">
    <div class="grid grid-2-3">
      <div class="inner-block">


<form>
  <input id="input-file-name" type="file" name="file[]" style="display:none;" multiple/>
</form>

 <div class="inner-block" style="display:none;" id="fileDiv">
  <table id="fileTable">
    <tr><th>File name</th><th>Status</th><th>Action</th></tr>
    <!--tr><td>ExampleCompanyCSOP1.ods</td><td>Ready to upload</td><td><a href="">Remove file</td></tr>
    <tr><td>ExampleCompanyCSOP1.jpg</td><td><span style="color: #DF3034">You must choose another ODS file</span></td><td><a href="">Remove file</td></tr-->
  </table>
 </div>




   <br>
              
            </p>    
        
         <button class="button">Save and continue</button>
          <p class="text"><a href="year_summary">Back</a></p>

</div>
</div>


<script>

function GetIEVersion() {  
  var sAgent = window.navigator.userAgent;  
  var Idx = sAgent.indexOf("MSIE");  
  // If IE, return version number.  
  if (Idx > 0)   
    return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));     
    // If IE 11 then look for Updated user agent string.  
  else if (!!navigator.userAgent.match(/Trident\/7\./))   
    return 11;  
  else 
    return 0; //It is not IE  
}  





$("#choose-file-button").click(function(e) {
  $("#input-file-name").click();
});

$("#input-file-name").change(function(e) {
    $("#fileDiv").show();       
    // Is IE then check version
    if ((GetIEVersion() > 9) || (GetIEVersion() == 0)) {
        var numberOfFiles = $("#input-file-name").get(0).files.length;
        for (i=0; i<numberOfFiles; i++) {
        $("#fileTable").append("<tr><td>"+$("#input-file-name").get(0).files.item(i).name+"</td><td>Ready to upload</td><td><a href='javascript:void(0);' id='removeFile'>Remove file</a></td></tr>"); 
        }            
    } else {
        // Earlier versions of IE (<9)
        var fileName = $("#input-file-name").val();
        $("#fileTable").append("<tr><td>"+fileName+"</td><td>Ready to upload</td><td><a href='javascript:void(0);' id='removeFile'>Remove file</a></td></tr>");                                            
    }
});        

$("#fileTable").on('click', '#removeFile', function() {
  $(this).parent().parent().remove();
  var rowcount = $("#fileTable").prop('rows').length;
  if (rowcount == 1) {
    $("#fileDiv").hide();
  }
});

function getUrlVars() {
  var vars = [], hash;
  var hashes = window.location.href.slice(window.location.href.indexOf('?')+1).split('&');
  for (var i=0; i<hashes.length; i++) {
    hash = hashes[i].split('=');
    vars.push(hash[0]);
    vars[hash[0]]=hash[1];
  }
  return vars;
}

$(document).ready(function(){
    //alert(getUrlVars()["radio-group"]);
    $("h1").html("Upload your "+ getUrlVars()["radio-group"] +" spreadsheet");
    $("#fileType").html("You've told us your spreadsheets are "+ getUrlVars()["radio-group"] +" files. If you're uploading multiple spreadsheets they must all be the same file type . ")
})



</script>

<div class="grid grid-1-3">
      <!--<div class="inner-block"><a href="">Remove all files</a>
      </div>-->
      </div>
    </div>
     <!--<div class="inner-block">
      <table style="width: 80%;">
        <tr><th>File name</th><th>Status</th><th>Action</th></tr>
        <tr><td>ExampleCompanyCSOP1.ods</td><td>Ready to upload</td><td><a href="">Remove file</td></tr>
       <tr><td>ExampleCompanyCSOP1.jpg</td><td><span style="color: #DF3034">You must choose another ODS file</span></td><td><a href="">Remove file</td></tr>
      </table>-->
   
    
         
        </div>



 <!-- main content ends -->

</main>
{{/content}}

{{/layout}}
